.noimated-info-container {
    height: 500px;
    /* background-color: #9ac4f8; */
    border: 1px solid #eee;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    transition: .3s;
  }
  
  .noimated-info {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
  }

  .button-delete
{
  height: 40px;
}