.App {
  text-align: center;
}


.banner {
  position: fixed;
  bottom: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  z-index: 999;
}

.jumbotron {
  height: 300px;
  margin-bottom: 0;
  color: #2f353b;
  background-image: linear-gradient(135deg, rgba(21, 186, 248, 0.6) 0%, rgba(21, 186, 248, 0.6) 42%, transparent 42%, transparent 53%, rgba(41, 145, 229, 0.6) 53%, rgba(41, 145, 229, 0.6) 62%, transparent 62%, transparent 88%, rgba(62, 104, 209, 0.6) 88%, rgba(62, 104, 209, 0.6) 100%), linear-gradient(45deg, transparent 0%, transparent 29%, rgb(31, 166, 238) 29%, rgb(31, 166, 238) 35%, rgb(41, 145, 229) 35%, rgb(41, 145, 229) 55%, transparent 55%, transparent 56%, rgb(62, 104, 209) 56%, rgb(62, 104, 209) 100%), linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
  /* background-image: linear-gradient(135deg, hsl(345, 78%, 61%) 0%, hsl(345, 78%, 61%) 56%, hsl(30, 78%, 61%) 56%, hsl(30, 78%, 61%) 71%, hsl(75, 78%, 61%) 71%, hsl(75, 78%, 61%) 77%, hsl(120, 78%, 61%) 77%, hsl(120, 78%, 61%) 82%, hsl(165, 78%, 61%) 82%, hsl(165, 78%, 61%) 90%, hsl(210, 78%, 61%) 90%, hsl(210, 78%, 61%) 97%, hsl(255, 78%, 61%) 97%, hsl(255, 78%, 61%) 99%, hsl(300, 78%, 61%) 99%, hsl(300, 78%, 61%) 100%); */
}

h1 {
  font-weight: 400;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* color: #9ac4f8 */
}

h2 {
  font-weight: 400;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #9ac4f8
}

.lead {
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn_logo {
  margin-left: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.5;
}

.search-results-placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.4em;
}

.movie-info-container {
  /* height: 500px; */
  background-color: #fff;
  border: 1px solid #eee;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
  transition: .3s;

}

.movie-info {

  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;

}

.movie-item {

  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.noimated-info-container {
  height: 500px;
  /* background-color: #9ac4f8; */
  border: 1px solid #eee;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
  transition: .3s;
}

.noimated-info {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

/*newly added items start faded out and translated 400px upwards on the y-axis*/
li.new-item {
  opacity: 0;
  animation: new-item-animation .3s linear forwards;
}

@keyframes new-item-animation {
  from {
    opacity: 0;
    transform: translateY(-400px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

li.removed-item {
  animation: removed-item-animation 1s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
  /*transform origin is moved to the bottom left corner*/
  transform-origin: 0% 100%;
}

@keyframes removed-item-animation {
  0% {
    opacity: 1;
    transform: rotateZ(0);
  }

  100% {
    opacity: 0;
    transform: translateY(600px) rotateZ(90deg);
  }
}

img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}


.title {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Search Bar */
.search-bar-container {
  /* height: 500px; */
  /* background-color: #9ac4f8; */
  border: 1px solid #eee;
  padding: 20px;
  width: 600px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
  transition: .3s;
  margin-bottom: 10px;
}

.error-info {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}